# /etc/systemd/system/milestonegermany-cms.service
[Unit]
Description=Milestonegermany CMS
After=network.target

[Service]
Type=simple

User=admin
WorkingDirectory=/home/admin/consultancy-cms

ExecStart=/home/admin/consultancy-cms/deploy/start.sh

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target